<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="{{ url_for('static',filename='css/style.css') }}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='codemirror/lib/codemirror.css') }}">
    <script type="text/javascript" src="{{ url_for('static',filename='codemirror/lib/codemirror.js') }}"></script>    

    <style>
        .CodeMirror{
            height: 400px;
            width: 100%;
     }
    </style>
    {% block titre %} {% endblock %}
</head>
<body>
    {% block body %} {% endblock %}
</body>
</html>